


header{
    text-align: center;
    background-image: url(paid\ singing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 10%;
    width: 100%;
    
    
}
ul{
    display: inline;
    margin: 0;
    padding:0;
    width:100%;
    overflow: hidden;
    list-style-type: none;
}
li{
    float: left;
    background-color:crimson;
}
li a{
     display:block;
     color: white;
     text-align: center;
     padding: 15px 80.1px;
     text-decoration: none;
     text-transform: uppercase;
     overflow: hidden;
}

li a.active{
    background-color:gold;
}
li a:hover{
    background-color: black;
}
span{
    font-family:cursive;

}
.container{
    display:inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 80px;
    border-style: groove;
    box-shadow: 10px 10px 18px 10px;
   transition:height 5s;
    transition-timing-function: linear;
}
.container:hover{
    height: 50px;
}
body{
background-image: url(pexels-artem-saranin-1164985.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.img1{
    position:static;
    background-size: cover;
    border-color: black;
}
.img2{
    position:static;
    background-size: cover;
}
.img3{
    position:static;
    background-size: cover;
}
.img4{
    position: static;
    background-size: cover;
}
.img5{
    position: static;
    background-size: cover;
}
.img6{
    position: static;
    background-size: cover;
}
.img7{
    position: static;
    background-size: cover;
}
.img8{
    position: static;
    background-size: cover;
    cursor: not-allowed;
}
.content{
    font-style: italic;
    text-align: center;
    background-color: white;
}
.button{
    background-color: blue;
    color: aliceblue;
    width: 100%;
    padding: 10px ;
}
.button a{
    text-decoration: none;
    color: white;
    font-size:larger;
    font-weight: 700;
}
.button:hover{
    background-color: chartreuse;
    color:blue;
}

h1{
    font-size:55px;
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.quote{
    font-style: italic;
    font-family:cursive ;
}
footer{
    background-color: black;
    color: aliceblue;
    padding-bottom: 10px;
    padding-top: 10px;
}
.bottom{
    margin-left: 20px;
    letter-spacing: 20px;
}
.bottom a{
    text-decoration: none;
    color: white;
}